# Laboratorio 4

#### Mario de León 19029
#### Javier Valle 20159

In [2]:
# Descripción de los datos, preprocesamiento y sus explicaciones, unigramas, bigramas, modelo preliminar de predicción.

"""
    Datos:
    id: Identificador del Tweet.
    keword: una palabra clave del tweet, puede estar en blanco.
    location: la ubicación desde donde fue enviado el tweet.
    text: el texto del tweet.
    target: indica si se trata de un desastre real (1) o no (0). 
"""

'\n    Datos:\n    id: Identificador del Tweet.\n    keword: una palabra clave del tweet, puede estar en blanco.\n    location: la ubicación desde donde fue enviado el tweet.\n    text: el texto del tweet.\n    target: indica si se trata de un desastre real (1) o no (0). \n'

### Inciso 2: Cargar los datos.

#### Imports necesarios.

In [10]:
import pandas as pd
import re

In [6]:
# Cargar el dataset desde un archivo CSV
test = pd.read_csv('test.csv')

train = pd.read_csv("train.csv")

# Cargando las primeras 5 filas del dataset.
print("Test")
print(test.head())

print("Train")
print(test.head())

Test
   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
Train
   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
Test
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB
None
Train
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB
None

In [7]:
# Info del dataset.
print("Test")
print(test.info())

print("Train")
print(train.info())

Test
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB
None
Train
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB
None

## Inciso 3: Limpie y preprocese los datos. Describa de forma detallada las activdades de preprocesamiento que llevó a cabo.

In [9]:
# Convertir el texto a mayúsculas o minúsculas.

# Convertiendo todas las columnas de texto a minúsculas del dataset test.
test = test.apply(lambda x: x.astype(str).str.lower() if x.dtype == "object" else x)

# Imprimiendo el DataFrame resultante
print(test)

# Convertiendo todas las columnas de texto a minúsculas del dataset train.
train = train.apply(lambda x: x.astype(str).str.lower() if x.dtype == "object" else x)

# Imprimiendo el DataFrame resultante
print(train)

         id keyword location
0         0     nan      nan  \
1         2     nan      nan
2         3     nan      nan
3         9     nan      nan
4        11     nan      nan
...     ...     ...      ...
3258  10861     nan      nan
3259  10865     nan      nan
3260  10868     nan      nan
3261  10874     nan      nan
3262  10875     nan      nan

                                                   text
0                    just happened a terrible car crash
1     heard about #earthquake is different cities, s...
2     there is a forest fire at spot pond, geese are...
3              apocalypse lighting. #spokane #wildfires
4         typhoon soudelor kills 28 in china and taiwan
...                                                 ...
3258  earthquake safety los angeles ûò safety faste...
3259  storm in ri worse than last hurricane. my city...
3260  green line derailment in chicago http://t.co/u...
3261  meg issues hazardous weather outlook (hwo) htt...
3262  #cityofcalgary has activated its municipal eme...

[3263 rows x 4 columns]
         id keyword location
0         1     nan      nan  \
1         4     nan      nan
2         5     nan      nan
3         6     nan      nan
4         7     nan      nan
...     ...     ...      ...
7608  10869     nan      nan
7609  10870     nan      nan
7610  10871     nan      nan
7611  10872     nan      nan
7612  10873     nan      nan

                                                   text  target
0     our deeds are the reason of this #earthquake m...       1
1                forest fire near la ronge sask. canada       1
2     all residents asked to 'shelter in place' are ...       1
3     13,000 people receive #wildfires evacuation or...       1
4     just got sent this photo from ruby #alaska as ...       1
...                                                 ...     ...
7608  two giant cranes holding a bridge collapse int...       1
7609  @aria_ahrary @thetawniest the out of control w...       1
7610  m1.94 [01:04 utc]?5km s of volcano hawaii. htt...       1
7611  police investigating after an e-bike collided ...       1
7612  the latest: more homes razed by northern calif...       1

[7613 rows x 5 columns]

#### Quitando las menciones.

In [ ]:
# Definiendo una función para quitar menciones a usuarios
def remove_mentions(text):
    cleaned_text = re.sub(r'@\w+', '', text)  # Eliminando menciones que comiencen con @ seguidas de caracteres alfanuméricos
    return cleaned_text

# Aplicar la función a la columna que contiene el texto.
train['tweet'] = train['tweet'].apply(remove_mentions)

# Imprimir el DataFrame resultante
print(train)

#### Quitando caracteres especiales.

In [12]:
# Función para limpiar los caracteres especiales
def clean_text(text):
    if isinstance(text, str):
        # Eliminar caracteres no alfanuméricos excepto espacios
        cleaned_text = re.sub(r'[^a-zA-Z0-9\s]', '', text)
        return cleaned_text
    else:
        return text

# Aplicando la función a todas las columnas de texto del df train.
train = train.applymap(clean_text)

# Imprimir df resultante
print(train)

# Aplicando la función a todas las columnas de texto del df test
test = test.applymap(clean_text)

# Imprimir df resultante
print(test)

         id keyword location
0         1     nan      nan  \
1         4     nan      nan
2         5     nan      nan
3         6     nan      nan
4         7     nan      nan
...     ...     ...      ...
7608  10869     nan      nan
7609  10870     nan      nan
7610  10871     nan      nan
7611  10872     nan      nan
7612  10873     nan      nan

                                                   text  target
0     our deeds are the reason of this earthquake ma...       1
1                 forest fire near la ronge sask canada       1
2     all residents asked to shelter in place are be...       1
3     13000 people receive wildfires evacuation orde...       1
4     just got sent this photo from ruby alaska as s...       1
...                                                 ...     ...
7608  two giant cranes holding a bridge collapse int...       1
7609  ariaahrary thetawniest the out of control wild...       1
7610  m194 0104 utc5km s of volcano hawaii httptcozd...       1
7611  police investigating after an ebike collided w...       1
7612  the latest more homes razed by northern califo...       1

[7613 rows x 5 columns]
         id keyword location
0         0     nan      nan  \
1         2     nan      nan
2         3     nan      nan
3         9     nan      nan
4        11     nan      nan
...     ...     ...      ...
3258  10861     nan      nan
3259  10865     nan      nan
3260  10868     nan      nan
3261  10874     nan      nan
3262  10875     nan      nan

                                                   text
0                    just happened a terrible car crash
1     heard about earthquake is different cities sta...
2     there is a forest fire at spot pond geese are ...
3                 apocalypse lighting spokane wildfires
4         typhoon soudelor kills 28 in china and taiwan
...                                                 ...
3258  earthquake safety los angeles  safety fastener...
3259  storm in ri worse than last hurricane my citya...
3260  green line derailment in chicago httptcoutbxlc...
3261  meg issues hazardous weather outlook hwo httpt...
3262  cityofcalgary has activated its municipal emer...

[3263 rows x 4 columns]